.profile {
    width: 65%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin-top: 0;
    }
}

.row {
    width: 100%;
}

.column ul li {
    padding: 15px;
    list-style: none;
}

.column ul li a {
    text-decoration: none;
}

.column {
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
}

.column h1 {
    text-align: center;
}

.column img {
    border-radius: 20px;
}

.aboutme h2 {
    font-size: 20px;
    padding-top: 30px;
}

.aboutme ul li {
    font-size: 16px;
}

hr {
    color: #6c757d;
    border-width: 5px;
}

table,
th,
td {
    border: 1px solid rgb(163, 163, 163);
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 65%;
}

td,
th {
    word-wrap: break-word;
    padding: 15px;
}